[submodule "openclaw"]
	path = openclaw
	url = git@github.com:yarnovo/openclaw.git
[submodule "nanoclaw"]
	path = nanoclaw
	url = git@github.com:yarnovo/nanoclaw.git
[submodule "ironclaw"]
	path = ironclaw
	url = git@github.com:yarnovo/ironclaw.git
[submodule "clawhub"]
	path = clawhub
	url = git@github.com:yarnovo/clawhub.git
[submodule "skills"]
	path = skills
	url = git@github.com:yarnovo/skills.git
[submodule "learn-claude-code"]
	path = learn-claude-code
	url = https://github.com/yarnovo/learn-claude-code.git
