[submodule "openclaw"]
	path = openclaw
	url = git@github.com:yarnovo/openclaw.git
[submodule "nanoclaw"]
	path = nanoclaw
	url = git@github.com:yarnovo/nanoclaw.git
[submodule "ironclaw"]
	path = ironclaw
	url = git@github.com:yarnovo/ironclaw.git
